:root {
  --title-color: #F3CF31;
  --paragrafo-color: #fff;
}
html {
  font-family: 'Montserrat', sans-serif;
}
#page-home {
  height: 100vh;
  background: url('assets/Background.png') no-repeat;
  background-position: 0vw bottom;
}

.title {
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  margin-top: 100px;
}

.subtitle {
  font-size: 5.5em;
  margin-top: -28px;
  color: var(--title-color);
}
.paragrafo {
  color: var(--paragrafo-color);
}

#form_home{
  margin-top: 100px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}

.form_label {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: -129px;
  margin-bottom: -1px;
}