.fundo{
    position: absolute;
    width: 1934px;
    height: 1069px;
    left: -440px;
    top: -38px;

background: url(https://xteam.ml/Background.png);
}
.sabe{
    position: absolute;
width: 501px;
height: 57px;
left: 122px;
top: 247px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 61px;

color: #F3CF31;
}
.filmes{
    position: absolute;
    width: 767px;
    height: 244px;
    left: 111px;
    top: 266px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    line-height: 244px;
    /* identical to box height */
    
    
    color: #F3CF31;
}
.texto1{
    position: absolute;
width: 640px;
height: 87px;
left: 122px;
top: 510px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;

}
.texto2{
    position: absolute;
width: 640px;
height: 90px;
left: 122px;
top: 621px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}
.grid-container {
    display: grid;
    grid-template-columns: 50%;
}
.grid-item {
 width: 50%;
}
.retangulo{
    position: absolute;
width: 383px;
height: 391px;
left: 939px;
top: 275px;

background: #FFFFFF;
}
.nome{
    position: absolute;
width: 121px;
height: 24px;
left: 968px;
top: 326px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #000000;
}
.email{
    position: absolute;
    width: 121px;
    height: 24px;
    left: 968px;
    top: 463px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;  
}
.btn1{
    position: absolute;
width: 324px;
height: 41px;
left: 969px;
top: 364px;

background: #FFFFFF;
box-shadow: -2px 6px 11px rgba(0, 0, 0, 0.4);

}
.btn2{
    
position: absolute;
width: 324px;
height: 41px;
left: 969px;
top: 505px;

background: #FFFFFF;
box-shadow: -2px 6px 11px rgba(0, 0, 0, 0.4);
}
.logo{
    position: absolute;
width: 72px;
height: 101px;
left: 684px;
top: 879px;

background: url(https://xteam.ml/logo.png);
}
.valor{
    position: absolute;
width: 121px;
height: 24px;
left: 1072px;
top: 596px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
border: 2px solid #F3CF31;
color: #F3CF31;

}
