:root {
  --title_color: #F3CF31;
  --paragrafo_color: #fff;
  --font_padrao: 'Montserrat', sans-serif;
}

body {
  background: url('/assets/images/bg.svg') no-repeat; 
  height: 100vh;
  background-size: cover;
}

.title_home {
  color: var(--title_color);
  font-family: var(--font_padrao);
  font-size: large;
  margin-left: 4px;
  
}
.subtitle_home {
  color: var(--title_color);
  font-family: var(--font_padrao);
  font-size: 4.1em;
  font-weight: bold;
  margin-top: -23px;
  letter-spacing: 8px;
}

.paragrafo_home {
  font-size: larger;
  font-weight: 600;
}